<ul>
  <li><a href="/cohorts/<%= current_user.cohort.id %>">Cohort</a></li>
  <li><a href="/assignments">Assignments</a></li>
  <li><a href="/users/<%= current_user.id %>/availabilities">Availabilities</a></li>
</ul>
