<table style="width: 80%">
  <tr>
    <th>Date</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <% if @availabilities %>
    <% @availabilities.each do |a| %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  <% end %>
</table>
